<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
    <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
</head>

<body>
    <div class="card">
        <section class="card-info card-section">
            <!--<i class="ion-navicon menu"></i>-->
            <!--<i class="ion-ios-search search"></i>-->

            <div class="avatar row">
            </div>

            <section class="user row">
                <h1 class="user-header">
                    Impressão Automática
                    <h2 class="sub header">
                        On-Line
                    </h2>
                </h1>
            </section>
            <!--
            <section class="statistics">
                <article class="statistic">
                    <h4 class="statistic-title">
                        Rank
                    </h4>
                    <h3 class="statistic-value">
                        360
                    </h3>
                </article>

                <article class="statistic">
                    <h4 class="statistic-title">
                        Score
                    </h4>
                    <h3 class="statistic-value">
                        1,034
                    </h3>
                </article>
            </section>
            -->

            <div class="dial">
                <h2 class="dial-title">
                    On
                </h2>
                <h3 class="dial-value">
                    Status
                </h3>
            </div>
        </section>
        <section class="card-details card-section">
            <nav class="menu">
                <article class="menu-item menu-item-active">
                    Pedidos
                </article>
            </nav>
            <dl class="leaderboard">
                <dt>
            <article class="progress">
              <section class="progress-bar" style="width: 85%;"></section>
            </article>
          </dt>
                <dd>
                    <div class="leaderboard-name">Mateus Veloso</div>
                    <div class="leaderboard-value">23,00</div>
                </dd>
            </dl>
        </section>
    </div>

</body>

</html>